* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2b292a;
    font-family: 'Source Code Pro', monospace;
}

canvas {
    height: 84vh;
    background-color: #ffffff;
    margin-top: 3%;
}

body {
    align-content: space-around;
    color: #ffffff;
    display: grid;
    justify-content: center;
}